body {
    font: 18px/1.4 'Amaranth', sans-serif;
	background: #ccc;
    /*background: #eee url(../images/white-trees.jpg) top center no-repeat;*/
}
noscript div {
    background: transparent url(../images/content_background.png);
    border-radius: 7px;
    color: #c00;
    font: 18px/1.4 arial bold;
    margin: 0 auto;
    text-align: center;
    width: 570px;
    -ms-border-radius: 7px;
}
h1 {
    color: #000;
    font-family: 'Concert One', cursive, sans-serif;
    font-weight: normal;
    margin-bottom: 40px;
    /*text-shadow: 1px 1px 1px #888;*/
}
#article {
    border-radius: 7px;
    margin: 0 auto;
    min-height: 900px;
    padding: 20px;
    width: 960px;
    -ms-border-radius: 7px;
    _height: 900px;
}

#content {
    /*background: transparent url(../images/content_background.png);*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E7FFFFFF', EndColorStr='#E7FFFFFF');

    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 10px 10px #fff;
    /*border-radius: 7px;*/
    margin: 0 auto;
    padding: 20px;
    width: 880px;
    /*-ms-border-radius: 7px;*/
}
    #content img {
        display: inline-block;
        margin: 0 10px 0 0;
        float: left;
    }
    .photo {
        /*visibility: hidden;*/
        /*border: 1px solid #ccc;*/
        /*opacity: 1;*/

        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        /*border-radius: 5px;*/
        position: absolute;
        top: 0;
        height: 375px;
        margin: 0 10px 0 0;
        width: 400px;
        /*-ms-border-radius: 5px;*/
    }
    #photo0 {
        background-image: url("../images/gustavson family.png");
    }
    #photo1 {
        background-image: url("../images/grace at school.png");
    }
    #photo2 {
        background-image: url("../images/cousins make models.png");
    }
    #photo3 {
        background-image: url("../images/girls swimming.png");
        /*height: 267px;*/
    }
    #photo4 {
        background-image: url("../images/egberts at play.png");
    }
    #photo5 {
        background-image: url("../images/abby on four-wheeler.png");
        /*height: 341px;*/
    }
    #photo6 {
        background-image: url("../images/Four Sisters.png");
        /*height: 282px;*/
    }
    #photo7 {
        background-image: url("../images/grace with camera.png");
        /*height: 251px;*/
    }
    #photo8 {
        background-image: url("../images/abby with gypsy.png");
        /*height: 375px;*/
    }
    #photo9 {
        background-image: url("../images/cmsi.gif");
        /*height: 400px;*/
    }
    #photo10 {
        background-image: url("../images/abby with book.png");
        /*height: 350px;*/
    }
    .photo #number {
        margin: auto;
        height: auto;
    }
    #content .text {
        width: 470px;
        margin-left: 420px;
    }

    #content ul {
        list-style: none;
        margin-left: 20px;
        padding-left: 0;
        text-indent: -24px;
    }
    #content li {
        margin: 0 0 10px;
    }
        #content li.wrong {
            color:           red;
            text-decoration: line-through;
            font-style:      normal;
            font-weight:     bold;
        }
        #content li.correct {
            color: green;
            font-style: italic;
            font-weight: bold;
        }

    #content input {
        margin-right: 5px;
    }


.next, .prev {
    background:      green;
    border-radius:   7px;
    border:          1px solid #888;
    color:           #000;
    font-size:       125%;
    padding:         3px;
    text-decoration: none;
}
    .prev {
        color: red;
    }

.buttons {
    bottom: 10px;
    float: right;
    text-align: center;
}
.super {
    font-size: 75%;
    position: relative;
    top: -0.4em;
}
.page {
    display: none;
    min-height: 520px;
    position: relative;
    _height: 520px;
}

/* Modal Windows */
.dialog {
    background: #fff;
    border-radius: 5px;
    height: 100px;
    padding: 10px;
    text-align: center;
    width: 300px;
    -ms-border-radius: 5px;
}

#content .socialmedia img {
    border: 0px;
    float: none;
    margin-right: 3px;
}
