@keyframes background-snow {
    0% { background-position-y: 0%; }
    100% { background-position-y: 100%; }
}

body {
    animation: background-snow 60s linear infinite;
    background: url(../images/background.png) repeat 5% 5%;
    font:       18px/1.4 'Amaranth', sans-serif;
    margin:     0;
    position:   relative;
}

#midground {
    animation: background-snow 40s linear infinite;
    background: url(../images/midground.png) repeat 20% 20%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
}
#foreground {
    animation: background-snow 30s linear infinite;
    background: url(../images/foreground.png) repeat 90% 110%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 2;
}

noscript div {
    background: transparent url(../images/content_background.png);
    border-radius: 7px;
    color: #c00;
    font: 18px/1.4 arial bold;
    margin: 0 auto;
    text-align: center;
    width: 570px;
    -ms-border-radius: 7px;
}
h1 {
    color: #fff;
    font-family: 'Concert One', cursive, sans-serif;
    font-weight: normal;
    margin-bottom: 40px;
    text-align: center;
    /*text-shadow: 1px 1px 1px #888;*/
}
body div {
    /*overflow:   hidden;*/
}
canvas {
    left:     0;
    position: fixed;
    top:      0;
    z-index:  0;
}
.clear {
    clear: both;
}

article {
    border-radius: 7px;
    margin: 0 auto;
    min-height: 900px;
    padding: 20px;
    position: relative;
    /*width: 960px; */
    -ms-border-radius: 7px;
    _height: 900px;
    z-index: 100;
}

#content {
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E7FFFFFF', EndColorStr='#E7FFFFFF');
    background-color: #fff;
    box-shadow: 0 0 10px 10px #fff;
    /*border-radius: 7px;*/
    margin: 0 auto 25px;
    padding: 20px;
    max-width: 880px;
    /*-ms-border-radius: 7px;*/
}
    #content .photo, #content .text {
        margin-right: 10px;
        float: left;
    }
    .photo {
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px;
        top: 0;
        max-height: 400px;
        margin: 0 10px 0 0;
        max-width: 400px;
    }
        .photo img {
            border-radius: 10px;
            display:       block;
            margin:        auto;
            max-height:    400px;
            /* max-width:     400px; */
            width:         100%;
        }
    #photo0 {
        margin-top: 25px;
    }
    #photo3,
    #photo5,
    #photo6,
    #photo8,
    #photo9
    {
        margin-top: 50px;
    }
    #score .photo {
        border-radius: 15px;
    }
    #number {
        background: #fff;
        margin: auto;
    }
    #content .text {
        /*margin-left: 420px;*/
        max-width:     420px;
        min-width:     300px;
        padding:       2px;
    }

    #content ul {
        list-style: none;
        margin-left: 20px;
        padding-left: 0;
        text-indent: -24px;
    }
    #content li {
        margin: 0 0 10px;
    }
        #content li.wrong {
            color:           red;
            text-decoration: line-through;
            font-style:      normal;
            font-weight:     bold;
        }
        #content li.correct {
            color: green;
        }

    #content input {
        margin-right: 5px;
    }

.buttons {
    bottom:      0;
    padding-top: 10px;
    text-align:  right;
}
.button {
    background:      #fff;
    border-radius:   7px;
    border:          1px solid #888;
    color:           #000;
    font:            125%/1.0 fantasy;
    line-height:     2.2em;
    padding:         7px 15px 0;
    text-decoration: none;
    white-space:     nowrap;
}

.disabled {
    color: #666;
}
.super {
    font-size: 75%;
    position: relative;
    top: -0.4em;
}
.page {
    position:       relative;
    padding-bottom: 40px;
    _height:        520px;
}

/* Modal Windows */
.dialog {
    background: #fff;
    border-radius: 5px;
    height: 100px;
    padding: 10px;
    text-align: center;
    width: 300px;
    -ms-border-radius: 5px;
}

#content .socialmedia img {
    border: 0px;
    float: none;
    margin-right: 3px;
}

.facebook {
    background: rgb(41, 72, 125);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 15px 15px;
}
.facebook a {
    color: #fff;
}
