<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }}</title>
    <meta name="language" content="en_US" />
    <meta charset="utf-8">
    <meta name="Content-Type" content="text/html;charset=utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='http://fonts.googleapis.com/css?family=Concert+One|Amaranth' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/messi.css" />
    <link rel="stylesheet" type="text/css" href="css/global.css" />
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/store.min.js"></script>
    <script type="text/javascript" src="js/score.js"></script>
</head>
<body>
    <div id="midground"></div>
    <div id="foreground"></div>
    {% comment %}
    <script type="text/javascript" src="js/ThreeCanvas.js"></script>
    <script type="text/javascript" src="js/Snow.js"></script>
    <script type="text/javascript" src="js/snow-background.js"></script>
    <div id="snow-container"></div>
    {% endcomment %}
    <script type="text/javascript">
        var answer_keys = [];
        {% for question in site.data.questions %}
            answer_keys.push({{question.correct}});
        {% endfor %}
    </script>
    <article class="container">
        <noscript>
            <div>Warning: Your browser has javascript support turned off!<br/>
            This page will not render or operate correctly.</div>
        </noscript>

        <header>
            <h1>Welcome to the Gustavson&nbsp;Family Post-Christmas Quiz {{site.year}}</h1>
        </header>

        <div id="content">
            <div class='container'>
                <div class='row'>
                    {{ content }}
                </div>
            </div>
        </div>
    </article>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3341219-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-3341219-5');
    </script>
</body>
</html>
