---
layout: quiz
---
    {% if page.number < 10 %}
    <form method="get" action="/question/{{page.number|plus:1}}/">
    {% else %}
    <form method="get" action="/score/">
    {% endif %}
        <div id="q1" class="page">
            <div class="text">
                <h2>Question {{page.number}}:</h2>
                <h3>{{page.question}}</h3>
                <ul>
                    {% for answer in page.answer %}
                        <li><label>
                            <input type="radio" name="q{{page.number}}" value="{{forloop.index}}" />
                            {{ answer }}
                        </label></li>
                    {% endfor %}
                </ul>
                <p class="button">
                    {% if page.number > 1 %}
                    <a href="question/{{page.number|minus:1}}">Go Back</a>
                    {% else %}
                    <a href="/">Go Back</a>
                    {% endif %}

                    <a href="question/{{page.number|plus:1}}">Next Question</a>
                    {% if page.number < 10 %}
                    <a href="question/{{page.number|minus:1}}">Go Back</a>
                    {% else %}
                    <a href="/score">Go Back</a>
                    {% endif %}
                </p>
                <p>&nbsp;</p>
            </div>
            <div class="photo" id="photo{{page.number}}"></div>
            <p style="clear: both;"> </p> 
        </div>
    </form>

    <script type="text/javascript">
        var answers = store.get('answers') || [];

        var index = answers[{{page.number|minus:1}}] - 1;
        $('form input:eq(' + index + ')').click();

        store.set('question', {{page.number}});

        $('form :input').on('change', function(e) {
            var answers = store.get('answers')||[]; 
            var answer = parseInt($('form input:checked').val());
            answers[{{page.number}}-1] = answer;
            store.set('answers', answers);
        });
    </script>

