<!DOCTYPE html>
<html>
<head>
    <title>Merry Christmas 2013!</title>
    <meta name="language" content="en_US" />
    <meta name="Content-Type" content="text/html;charset=utf8" />
    <meta name="viewport" content="width=480">
    <link href='http://fonts.googleapis.com/css?family=Concert+One|Amaranth' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="/css/messi.css" />
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/js/store.min.js"></script>
</head>
<body onload="init()">
  <div id="midground"></div>
    <div id="foreground"></div>
    {% comment %}
    <script type="text/javascript" src="/js/ThreeCanvas.js"></script>
    <script type="text/javascript" src="/js/Snow.js"></script>
    <script type="text/javascript" src="/js/snow-background.js"></script>
    <div id="snow-container"></div>
    {% endcomment %}
    <script type="text/javascript">
      var answer_keys = [4, 1, 3, 1, 2, 4, 1, 3, 2, 3];
    </script>
    <div id="article">
        <noscript>
            <div>Warning: Your browser has javascript support turned off!<br/>
            This page will not render or operate correctly.</div>
        </noscript>

        <h1>Welcome to the Gustavson Post-Christmas Quiz 2013</h1>

        <div id="content">
        {{ content }}
        </div>
    </div>

    <script type="text/javascript" src="/js/score.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3341219-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
